body {margin: 0px;}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
}

.header h1 {
    color: aliceblue;
    margin-left: 10px;
}

.links {text-align: center;}
.links a {
    margin: 0px 10px;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
}

.links a:hover {color: orange;}
.pesan {margin: 20px;}
.mahasiswa {
    text-align: center;
    border: 5px 0px solid black;
    padding: 20px 0px;
}

.mahasiswa img {
    float: left;
    margin: -30px 10px 0px 0px;
}

.mahasiswa tr, td {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}